.containerCustom {
    width: 50px;
    height: 50px;
}
.avatarCustom {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.thumbnail {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }